.taskButton {
  width: 100%;
  padding: 0.875rem;

  border-radius: 8px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-600);
  color: var(--gray-100);

  cursor: pointer;
  font-weight: bold;

  border: 0;

  transition: 0.1s;
}

.taskButton:hover {
  background-color: var(--blue-200);
}